.slick {
  &-dots {
    display: flex !important;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    .slick-active {
      .dot {
        background-color: transparent;
        border: 2px solid var(--color-primary);
      }
    }
  }

  &-slide,
  &-slide * {
    outline: none !important;
  }
}
