.tt-snipcart-alert {
  padding: 16px;
  margin: 16px 0;
  border: 1px solid rgba(255, 198, 65, 0.3);
  background-color: rgba(255, 198, 65, 0.08);
  border-radius: 8px;
  color: var(--color-dark);
  font-weight: 600;
  line-height: 1.5;

  a {
    display: inline;
  }
}
