/* main header */
$--header-h: rem(100);
$--header-h-shrink: rem(50);
$--header-t: height 0.3s ease-out;

/* main content */
$--main-t: padding-top 0.3s ease-out;

/* logo */
$--logo-t: width 0.3s ease-out;

/* navigation item */
$--nav-item-t: font-size 0.3s ease-out;

/* a tags */
$--a-t: all 0.2s ease-out;
