:root {
  --color-base: #988a65;
  --color-primary: #f9ba13;
  --color-secondary: #7c99a5;
  --color-tertiary: #f4f4ef;
  --color-brand: #b82529;
  --color-brand-secondary: #e4e1d9;
  --color-dark: #463737;
  --color-white: #fff;
}

/**
* Use only sass vars for functions, etc
*
* ex: background-color: background-opacity($--color-primary, 0.5);
*/

$--color-base: #988a65;
$--color-primary: #f9ba13;
$--color-secondary: #7c99a5;
$--color-tertiary: #f4f4ef;
$--color-brand: #b82529;
$--color-brand-secondary: #e4e1d9;
$--color-dark: #463737;
$--color-white: #fff;
